/*******************************************************************************/
/* Web de Assasin's Creed                                                      */
/* Hoja de estilo para index                                                   */
/* autor: Martín Morente Vargas                                                */
/* versión: 1.0                                                                */
/* 27 de Noviembre de 2022                                                     */
/*******************************************************************************/

@font-face {
    font-family: textos;
    src: url(../Fonts/DAYROM__.ttf);
}

@font-face {
    font-family: titulos;
    src: url(../Fonts/Candylove.ttf);
}

* {box-sizing: border-box;}

body{font-family: textos;
    background-color: rgb(122, 122, 122);
    margin: 0; padding: 0;}

#wrapper{width: 97%;
        background-color: aliceblue;
        margin: auto;
        }

section{padding: 3% 0;}




/************************************************ HERO SECTION **********************************************/
#hero{padding: 0;}

#trailer {
    /* position: fixed; */ position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
/********************************************* INTRODUCCION ************************************************/
h1{text-align: center;
    font-family: titulos;}

#descripcion{
    padding: 3%;
    font-size: 1.2rem;
}

#intro{
    background-color: antiquewhite;
}


/******************************************** PERSONAJES ****************************************************/
#grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.columna{
    padding: 2%;
}

/******************************************* CARDS**********************************************************/

.card{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    width: 100%;
}

.card:hover{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container {

    padding: 2px 16px;
   
}

.links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(54, 54, 54);
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
}

.links:hover{
    background-color: rgb(156, 156, 156);
    color: rgb(205, 205, 205);
}



/**************************************************** GALERÍA-SLIDE ********************************************/

#galería{
    background-color: white;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #9e9e9e;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*********************************************************** FOOTER **********************************************/

.enlace{
    text-decoration: none;
    color: darkred;
}

.fa-instagram{
    text-decoration: none;
    padding: 2vh;
    color: rgb(207, 207, 207);
    background-color: rgb(137, 54, 214);
    border-radius: 50%;
}

.fa-instagram:hover{

    color: rgb(226, 226, 226);
}

.fa-twitter{
    text-decoration: none;
    padding: 2vh;
    color: rgb(130, 239, 247);
    background-color: rgb(93, 93, 255);
    border-radius: 50%;
}

.fa-twitter:hover{

    color: rgb(182, 250, 255);
}

.fa-youtube{
    text-decoration: none;
    padding: 2vh;
    color: rgb(226, 225, 225);
    background-color: rgb(255, 37, 62);
    border-radius: 50%;
}

.fa-youtube:hover{

    color: rgb(255, 255, 255);
}

.enlace{

    color: darkred;
}

.enlace:hover{

    color: rgb(240, 135, 135);
}

/************************************************* BARRA DE NAVEGACIÓN**************************************/
nav {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.topnav{
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    }

.topnav a {
    float: left;
    display: block;
    color: rgb(197, 197, 197);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    }

.topnav a:hover{
    background-color: white;
    color: darkred;
    font-weight: bold;
}


.topnav .icon{
    display: none;
   
}

/****************************************** MEDIA QUERIES ********************************************/

@media only screen and (width<=900px){

#trailer{width: 65%; 
    height: 65% ;}
}

@media only screen and (width<=850px){

    #grid{grid-template-columns: auto auto;}
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (width<=500px){

    #grid{grid-template-columns: auto;}
   }



